@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
        var twoFacor = ViewData["TwoFactorEnabled"];
        if(twoFacor != null && twoFacor.ToString().ToLower() == "true")
        {
            <a asp-action="RemoveAuthenticator" asp-controller="Account" class="btn btn-warning">Reset & Remove Two Factor Authentication</a>
        }
        else
        {
            <a asp-action="EnableAuthenticator" asp-controller="Account">Setup Two Factor Authentication</a>
        }
        
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
